.modal{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: -ms-flexbox;
	display: flex;
	/*по горизонтали если flex-direction: row*/
	-ms-flex-pack: center;
	    justify-content: center;
	/*по вертикли если flex-direction: column*/
	-ms-flex-align: center;
	    align-items: center;
}

.modal-backdrop{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background: rgba(0,0,0,.6);
	z-index: 1;
}

.modal-inner{
	max-width: 400px;
	min-width: 300px;
	width: 100%;
	background: #fff;
	border-radius: 15px;
	z-index: 2;
	position: relative;
}

.modal-title {
	width: 100%;
	height: 50px;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	background-color: #1ba3d6;
	color: #fff;
	font-size: 22px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-weight: 300;
}

.modal-close {
	width: 30px;
	height: 30px;
	padding: 7px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.modal-close img {
	width: 100%;
	height: 100%;
}

.modal-form {
	width: 100%;
	padding: 20px 30px 30px;

}

.modal-link {
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
	color: #7ad5f8;
}

.modal-link:hover {
	text-decoration: underline; 
}